<!DOCTYPE html>
<html>
    <head>
        <title>Airlines Flight 47cket</title>
        <link rel="stylesheet" href="../../../static/styles/navbar.css">
        <link rel="stylesheet" href="../../../static/styles/ticket.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <li> <a href="http://127.0.0.1:5009/home">Home</a> </li>
                <li> <a href="http://127.0.0.1:5009/ticketbooking">Book your Ticket</a> </li>
                <li> <a href="http://127.0.0.1:5009/flightstatus">Status of your Flight</a> </li>
                <li> <a href="http://127.0.0.1:5009/updatedetails">Update your Details</a> </li>
                <li> <a href="http://127.0.0.1:5009/adminaccess">Administrator Access</a> </li>
            </nav>
        </header>
        <p class="heading">Ticket Details:</p>
            <table>
                <tr>
                    <th>Flight Number</th>
                    <td>{{flight_id}}</td>
                </tr>
                <tr>
                    <th>Passenger ID</th>
                    <td>{{cust_id}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{cust_name}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{cust_age}}</td>
                </tr>
                <tr>
                    <th>DOB</th>
                    <td>{{cust_dob}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{cust_phone}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{cust_email}}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{cust_pass}}</td>
                </tr>
            </table>
            <p class="note">*Please note Flight Number and Passenger Id for future references</p>
    </body>
</html>
