<!DOCTYPE html>
<html>
    <head>
        <title>Airlines User Update</title>
        <link rel="stylesheet" href="static/styles/navbar.css">
        <link rel="styles47et" href="static/styles/user new details.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <li> <a href="http://127.0.0.1:5009/home">Home</a> </li>
                <li> <a href="http://127.0.0.1:5009/ticketbooking">Book your Ticket</a> </li>
                <li> <a href="http://127.0.0.1:5009/flightstatus">Status of your Flight</a> </li>
                <li> <a href="http://127.0.0.1:5009/updatedetails">Update your Details</a> </li>
                <li> <a href="http://127.0.0.1:5009/adminaccess">Administrator Access</a> </li>
            </nav>
        </header>
            <div class="box1">
                <p class="heading">Current Passenger Details:</p>
                <table>
                    <tr>
                        <th>Flight ID</th>
                        <td>{{user_dt[7]}}</td>
                    </tr>
                    <tr>
                        <th>Passenger ID</th>
                        <td>{{user_dt[0]}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{user_dt[1]}}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{user_dt[2]}}</td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td>{{user_dt[3]}}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{user_dt[4]}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user_dt[5]}}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{user_dt[6]}}</td>
                    </tr>
                </table>
            </div>
            <div class="box2">
                <p class="formhead">Please enter new details of passenger:</p>
                <div class="tb">
                    <form action="http://127.0.0.1:5009/user_new_info/{{user_dt[0]}}/{{user_dt[1]}}/{{user_dt[7]}}" method="POST">
                        <div class="options">
                        <label for="age">Age:</label>
                        <input type="number" id="age" name="user_age">
                        </div>
                        <div class="options">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="user_dob">
                        </div>
                        <div class="options">
                        <label for="phone">Phone number:</label>
                        <input type="phone" id="phone" name="user_phone">
                        </div>
                        <div class="options">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="user_email">
                        </div>
                        <div class="options">
                            <label for="pass">Password:</label>
                            <input type="password" id="pass" name="user_pass">
                        </div>
                        <div class="options">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                    <p class="note">*You can only edit Age, DOB, Phone number, Email and Password of the passenger</p>
                </div>
            </div>
    </body>
</html>